.elementCardFlex {
    background-color: white;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    border: 2px solid white;
    width: 240px;
    height: 280px;
}

.elementImage {
    display: flex;
    height: 90%;
    width: 90%;
    border-radius: 10px 10px 10px 10px;
    align-self: center;
    background-position: center;
    margin: 2%;
    background-size: cover;
    background-repeat: none;
}